{
  "all": true,
  "extension": [
    ".lua"
  ],
  "include": [
    "out/**/*.lua"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**"
  ],
  "report-dir": "coverage",
  "temp-dir": "coverage",
  "reporter": [
    "lcov"
  ]
}